/*
Table of contents

1.0.0 - Fonts
2.0.0 - Root
3.0.0 - Reusables and global
4.0.0 - Header
    4.1.0 - Logo
    4.2.0 - Hamburger
    4.3.0 - Navigation
5.0.0 - Main
    5.1.0 - Intro
    5.2.0 - About
    5.3.0 - Projects
    5.4.0 - Skills
    5.5.0 - Experience
    5.6.0 - Contact
6.0.0 - Footer
*/

/* 1.0.0 - Fonts */
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@300;400&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* 2.0.0 - Root */

:root {
    --font-color1:rgba(245, 234, 233, 0.5);
    --font-color2: #FF1100;
    --letter-spacing-wake: 0.455em;
    --letter-spacing-rest: 0.25em;
    --background-color: #141115;
}
/* 3.0.0 - Reusables and global */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
    scrollbar-width: thin;
}
div, p, a, li, h1, h2, h3, h4, h5, h6 {
    font-family: Montserrat;
}
div, a, li {
    color: #F5EAE9;
    font-family: Montserrat;
    text-decoration: none;
}

h2{color: var(--font-color2);}

body {
    background-color: var(--background-color);
}

ul {
    list-style-type: none;
}

p {
    color: #F5EAE9;
    font-family: catamaran;
    font-weight: 300;
    line-height: 21px;
}

.sect-container {
    max-width: 640px;
    width: 100%;
    padding: 20px;
}
/* 4.0.0 - Header */
header{
    z-index: 99999; 
    position: fixed;
}
/* 4.1.0 - Logo */

#logo {
    width: 58px;
    height: 58px;
    position: absolute;
    top: 20px;
    left: 67px;
    z-index: 9999999;
    /* transform: translateX(-100%); */
}

/* 4.2.0 - Hamburger */

.gn-ham {
    position: fixed;
    top: 20px;
    right: 40px;
    width: 60px;
    height: 60px;
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s ease;
}

.gn-ham_btn {
    width: 42px;
    height: 4px;
    background-color: var(--font-color2);
    position: relative;
    transition: 0.5s ease;
}

.gn-ham_btn::before,
.gn-ham_btn::after {
    content: "";
    position: absolute;
    width: 42px;
    height: 4px;
    background-color: var(--font-color2);
    transition: 0.5s ease;
}

.gn-ham_btn::before{
    transform: translateY(-8px);
}
.gn-ham_btn::after{
    transform: translateY(8px);
}

body.open .gn-ham {
    transform: rotate(180deg);
}

body.open .gn-ham_btn {
    background-color: transparent;
}

body.open .gn-ham_btn::before {
    transform: rotate(135deg) scale(0.8);
}

body.open .gn-ham_btn::after {
    transform: rotate(45deg) scale(0.8);
}

/* 4.3.0 - Navigation */
nav {
    position: fixed;
    right: 66px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9999;
    visibility: visible;
    opacity: 1;
}
nav ul {
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
    align-items: flex-end;
}
nav ul li {
    margin-bottom: 30px;
    letter-spacing: var(--letter-spacing-rest);
    font-weight: 200;
    font-size: 14px;
    transition: letter-spacing 0.2s ease-in-out;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
nav ul li:hover {
    letter-spacing: var(--letter-spacing-wake);
}
nav ul li.selected {
    letter-spacing: var(--letter-spacing-wake);
}
nav ul li.selected a {
    color: var(--font-color2);
}
nav ul li a {
    color: var(--font-color1);
}

@media screen and (max-width: 1050px) {

    header {
        height: 100px;
        width: 100%;
        background-color: var(--background-color);
        box-shadow: 0 1px 10px 2px black;
        transition: 0.3s ease;
    }
    body.open header {
        background-color: unset;
        box-shadow: unset;
    }
    #logo {
        left:40px;
    }
    .gn-ham {
        display: flex;
        z-index: 999999;
    }
    nav {
        visibility: hidden;
        opacity: 0;
        transform: translateX(100%);
        transition: 0.3s ease;
        top: 0;
        right: 0;
        bottom: 0;
        padding-top: 100px;
        padding-right: 50px;
        max-width: 300px;
        width: 100%;
        height: auto;
        background-color: #251f27;
    }
    body.open nav {
        visibility: visible;
        opacity: 1;
        transform: translateX(0);
    }

    body.open main {
        filter: blur(5px);
    }
}

@media screen and (max-width: 420px) {

    #logo {
        left: 134x;
    }
    nav {
        width: 250px;
    }
}

@media screen and (max-width: 370px) {
    nav {
        max-width: unset;
        width: 100%;
    };
}

/* 5.0.0 - Main */
main {
    min-height: 100vh;
    position: relative;
    transition: 0.3s ease;
}
main section {
    min-height: 700px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    visibility: hidden;
    opacity: 0;
    transform: translateY(50px);
    transition: 0.5s ease;
    padding-top: 100px;
}

main section.visible {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

main section h2 {
    text-align: center;
}

/* 5.1.0 - Intro */
#intro {
    min-height: 100vh;
    height: 100vh;
    justify-content: flex-start;
    align-items: center;
}

#intro .intro-content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 200px;
    margin-left: 65px;
}

#intro h1 {
    color: var(--font-color2);
    font-size: 72px;
    font-weight: bold;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

#intro h3 {
    font-weight: 200;
    font-size: 14px;
    letter-spacing: var(--letter-spacing-wake);
    color: #F5EAE9;
    user-select: none;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

@media screen and (max-width: 1150px) {
    #intro .intro-content {
        width: 700px;
    }
    #intro h1 {
        font-size: 58px;
    }
}

@media screen and (max-width: 768px ) {
    #intro .intro-content {
        margin-left: 20px;
        width: 100%;
        align-items: flex-start;
    }
    #intro h1 {
        font-size: 45px;
    }
    #intro h3 {
        font-size: 10px;
    }
}
@media screen and (max-width: 350px) {
    #intro h1 {
        font-size: 40px;
    }
}

/* 5.2.0 - About */
#about .sect2-details {
    margin-top: 58px;
    margin-bottom: 65px;
}
#about .sect2-details p,
#about .sect2-details span {    
    font-size: 14px;
    color: rgba(245, 234, 233, 0.5);}
#about .sect2-text_content p, 
#about .sect2-text_content span {
    font-size: 15px;
    margin-bottom: 2em;
}
/* 5.3.0 - Projects */
/* 5.4.0 - Skills */
/* 5.5.0 - Experience */
/* 5.6.0 - Contact */

#contact-form {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#contact-form input,
#contact-form textarea {
    margin-top: 30px;
    width: 100%;
    Max-width: 600px;
    min-height: 50px;
}


/* 6.0.0 - Footer */

footer {
    min-height: 250px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
footer p {
    height: 50px;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 14px;
}
